/* Login Container Animation */

.login-box{

max-width:400px;
margin:auto;
margin-top:80px;
padding:30px;

background:white;

border-radius:12px;

box-shadow:0px 10px 30px rgba(0,0,0,0.15);

/* Animation */
animation:slideDown 1s ease;

}


/* Title Animation */

.login-title{

text-align:center;
margin-bottom:20px;

font-weight:bold;

animation:fadeIn 2s ease;

}


/* Input Animation */

.form-control{

transition:0.3s;

}

.form-control:focus{

transform:scale(1.05);

box-shadow:0px 0px 10px rgba(13,110,253,0.5);

}


/* Button Animation */

.btn{

transition:0.3s;

}

.btn:hover{

transform:scale(1.1);

}


/* Keyframes */

@keyframes slideDown{

from{

opacity:0;
transform:translateY(-50px);

}

to{

opacity:1;
transform:translateY(0px);

}

}



@keyframes fadeIn{

from{

opacity:0;

}

to{

opacity:1;

}

}